<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit</title>
        {% load static %}
        <link rel="stylesheet" types="text/css" href="{% static "semi_restful_users/style.css" %}">
    </head>
    <body>
        <div id='container'>
                {% if messages %}
                <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            <h1>Edit User</h1>
            <form action='/users/{{ user.id }}' method='POST'>
                {% csrf_token %}
                <label for="first_name">First Name:
                    <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}">
                </label>
                <label for="last_name">Last Name:
                    <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}">
                </label>
                <label for="email">Email:
                    <input type="text" name="email" id="email" value="{{ user.email }}">
                </label>
                <input type="submit" value="Update">
            </form>
            <p><a href="/users/{{ user.id }}">Show</a> | <a href='/users'>Go Back</a></p>
        </div>
    </body>
</html>