<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Semi-Restful Users</title>
        {% load static %}
        <link rel="stylesheet" types="text/css" href="{% static "semi_restful_users/style.css" %}">
    </head>
    <body>
        <div id='container'>
            <h1>Users</h1>
            <table>
                <tr>
                    <th>id</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created_at }}</td>
                    <td class="actions"><a href="/users/{{ user.id }}">Show</a><a href="users/{{ user.id }}/edit">Edit</a><a href="/users/{{ user.id }}/destroy">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
            <a href='/users/new'>Add a new user</a>
        </div>
    </body>
</html>